<% if signed_in? %>
<div class="container">
  <div class="row">
    <div class="span8">
      <h3>My Scribbles</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
</div>

<% else %>
<div class="splash_page">
  <div class="center hero-unit welcome">
    <h1>Everyone has a story to tell</h1>

    <h2>
      What is your story?
    </h2>

    <%= link_to "Sign up now!", signup_path,
    class: "btn btn-large btn-primary" %>
  </div>

  

  <div class="container">
    <div class="row center ">
      <div class="span12 introduction">
      <header>
        <h1>What is MyStory?</h1>
      </header>
      <h2>
        MyStory is a platform for you to remember how you lived your life and gain some introspection on how the choices you make in your everyday life. By gaining various more words. words words words words words wordswords words wordswords words words
      </h2>
      </div>
    </div>
    <div class="row center features">
      <div class="span4 left_feature">
        <header>
          <h1>Scribbles</h1>
        </header>
        <h2>
          With Scribbles, you will never forget anything significant that has happened in your life! Whether you you are feeling happy or sad or would like to remember little achievements of the day, scribble it down!
        </h2>
      </div>
      <div class="span4 center_feature">
        <header>
          <h1>Work</h1>
        </header>
        <h2>
          MyStory allows you to track how much and what work you have been doing over the past day, week or month. You will be able to analyze if you've been playing too much, working too hard or achieving "worklife balance".
        </h2>
      </div>
      <div class="span4 right_feature">
        <header>
          <h1>Memory</h1>
        </header>
        <h2>
          Have an important memory to journal? Take a picture and place it within MyStory's Memory Chamber. Simply upload a photo into the Chamber and leave a note about why that memory was important to you!
        </h2>
      </div>
    </div>
  </div>

</div>
<% end %>
