<% provide(:title, @user.name) %>
<div class="container">
	<div class="row">
	    <% if @user.scribbles.any? %>
	    	<h1>Recent Scribbles</h1>
		    <% @recent_scribbles.each do |scribble| %>
		    	<div class="box shadow-effect">
		    		<h3> <%=scribble[:scribble_text] %></h3>
		    	</div>
		    	
			<% end %>
		      
	    <% end %>
	</div>
</div>
