<li>
  <span class="content"><%= scribble.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(scribble.created_at) %> ago.
  </span>

  <% if current_user?(scribble.user) %>
    <%= link_to "delete", scribble, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: scribble.content %>
  <% end %>
</li>